</main>

<footer>
  <a id="footer-acc-jump" class="sr-only sr-only-focusable" href="#header-acc-jump">
    <div class="container">
      <span class="skiplink-text">Skip to header</span>
    </div>
  </a>
  <section class="footer" aria-label="secondary navigation">
    <div class="container-fluid text-center text-md-left p-4">
      <h2 class="sr-only">Supplementary navigation to key corporate and informational sections of the website, including contact details</h2>
      <div class="row text-center text-md-left">
        <div class="col-md-4 mx-auto">
          <h3 class="text-uppercase mb-4 font-weight-bold h6">About YouthKitbag</h3>
          <ul class="links">
            <!--<li><a href="/help-and-contact/index">Help &amp; contacts</a></li>-->
          </ul>
        </div>
        <hr class="w-100 clearfix d-md-none mx-3">
        <div class="col-md-4 mx-auto">
          <h3 class="text-uppercase mb-4 font-weight-bold h6">Information for</h3>
          <ul class="links">
            <!--<li><a href="/info-for/media/index">Media</a></li>-->
          </ul>
        </div>
        <hr class="w-100 clearfix d-md-none mx-3">
        <div class="col-md-4 mx-auto">
          <h3 class="sr-only">Contact details</h3>
          <p><span aria-hidden="true" class="fas fa-home mr-3" title="Contact address"></span><span class="sr-only">Our contact address is:</span>YouthKitbag c/o Moir Consultancy Ltd</p>
          <p><span aria-hidden="true" class="fas fa-envelope mr-3" title="Contact email"></span><span class="sr-only">Our contact email address is:</span>admin@youthkitbag.com</p>
          <p><span aria-hidden="true" class="fas fa-phone mr-3" title="Contact phone"></span><span class="sr-only">Our contact phone number is:</span>+ 44 7949-420404</p>
        </div>
      </div>
    </div>
  </section>

  <section class="footer footer-copyright" aria-label="links to terms and conditions, privacy and cookies statements and accessibility standards for this website">
    <div class="container-fluid text-center py-2">
      <h2 class="sr-only">Navigation to legal and accessibility content</h2>
      <div class="row d-flex align-items-center">
        <div class="col-md-8">
          <div class="d-flex flex-column flex-md-row">
            <!--<div class="p-2"><a href="/corporate/terms-and-conditions/index">Terms &amp; conditions </a></div>
            <div class="p-2"><a href="/corporate/privacy-and-cookies/index">Privacy &amp; cookies</a></div>
            <div class="p-2"><a href="/corporate/website-accessibility/index">Website accessibility</a></div>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-column flex-md-row-reverse">
            <div class="p-2">© Copyright Moir Consultancy Limited</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>