/* Scss Document */
/* Imports */
html {
  height: 100% !important;
  font-size: 14px; }

body {
  height: 100% !important;
  min-width: 320px;
  /* Suppose you want minimum width of 1000px */
  width: auto !important;
  /* Firefox will set width as auto */
  width: 320px; }

#root {
  height: 100% !important; }

.react-body {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0; }

/* Font */
body {
  font-family: PrentonRPPro-Regular, PrentonRPProLight-Regular, sans-serif, 'Font `Awesome 5 Free' !important; }

.fa,
.fab,
.fal,
.far,
.fas {
  line-height: 1.5; }

.ykb-fa {
  font-size: 2rem;
  padding: 1rem; }

.youthkitbag {
  /* colors */
  /* header features */ }
  .youthkitbag p a {
    text-decoration: underline; }
  .youthkitbag ul.std-list a {
    text-decoration: underline; }
  .youthkitbag a.status {
    text-decoration: none; }
  .youthkitbag a.sr-only {
    color: #004c9d;
    background-color: #ffffff; }
  .youthkitbag .form-control-help {
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    line-height: 1.5; }
  .youthkitbag .banner-background {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: -400px;
    top: 57px;
    left: 0;
    width: 100%; }
    .youthkitbag .banner-background.hero-background {
      height: 800px;
      margin-bottom: -800px; }
  .youthkitbag .h-standard {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem; }
  .youthkitbag .h-highlight {
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border-bottom: 0.25rem; }
    .youthkitbag .h-highlight.h-light {
      border-bottom: 0.25rem solid #cccccc;
      background-color: #f0f0f0;
      color: #2d3039; }
    .youthkitbag .h-highlight.h-dark {
      border-bottom: 0.25rem solid #121315;
      background-color: #2d3039;
      color: #f0f0f0; }
  .youthkitbag .hgt-1 {
    height: 1rem; }
  .youthkitbag .hgt-2 {
    height: 2rem; }
  .youthkitbag .hgt-3 {
    height: 3rem; }
  .youthkitbag .hgt-6 {
    height: 6rem; }
  .youthkitbag .hgt-10 {
    height: 10rem; }
  .youthkitbag .wth-10 {
    width: 10rem; }
  .youthkitbag .btn-textwrap {
    white-space: normal !important;
    word-wrap: break-word; }
  .youthkitbag .footer {
    background-color: #202329;
    color: #cccccc; }
    .youthkitbag .footer h6,
    .youthkitbag .footer .h6 {
      color: #f0f0f0; }
    .youthkitbag .footer hr {
      background-color: #f0f0f0; }
    .youthkitbag .footer.footer-copyright {
      background-color: #2d3039; }
      .youthkitbag .footer.footer-copyright a {
        color: #7bcbd1; }
    .youthkitbag .footer ul.links {
      list-style-type: none;
      padding: 0; }
      .youthkitbag .footer ul.links li {
        padding-bottom: 0.35rem; }
        .youthkitbag .footer ul.links li a {
          color: inherit;
          text-decoration: none; }
      .youthkitbag .footer ul.links.inline li {
        display: inline;
        padding-right: 1rem; }
  .youthkitbag .carousel-thumbnail {
    position: relative; }
    .youthkitbag .carousel-thumbnail .img-delete {
      cursor: pointer; }
    .youthkitbag .carousel-thumbnail .mini-img {
      max-height: 90px; }
  .youthkitbag .date-input {
    width: 13rem; }
    .youthkitbag .date-input .date-input-w2 {
      width: 4rem; }
    .youthkitbag .date-input .date-input-w4 {
      width: 5rem; }
  .youthkitbag .input-group .group-control-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .youthkitbag .input-group .group-control-center {
    border-radius: 0; }
  .youthkitbag .input-group .group-control-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .youthkitbag a[disabled] {
    pointer-events: none; }
  .youthkitbag .img-avatar {
    height: 30px;
    width: 30px; }
  .youthkitbag .blank-circle {
    flex: 1;
    margin: 1%;
    border-radius: 50%; }
    .youthkitbag .blank-circle:before {
      content: '';
      display: inline-block;
      padding-top: 100%; }
  .youthkitbag .blank-square {
    flex: 1;
    margin: 1%;
    border-radius: 0%; }
    .youthkitbag .blank-square:before {
      content: '';
      display: inline-block;
      padding-top: 100%; }
  .youthkitbag .alert {
    border-left-width: 0.45rem; }
    .youthkitbag .alert.alert-callout {
      color: #2070b0;
      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid #2070b0;
      border-left-width: 0.45rem;
      border-radius: 0.25rem; }
  .youthkitbag .card {
    margin-bottom: 1rem;
    border: 1rem;
    border-bottom: 0.25rem solid #cccccc; }
    .youthkitbag .card.card-b1 {
      border: 1px solid #cccccc;
      border-bottom: 0.25rem solid #cccccc; }
    .youthkitbag .card.card-cta {
      border: 0rem; }
    .youthkitbag .card.card-link a {
      color: inherit;
      text-decoration: none; }
    .youthkitbag .card.card-link:hover {
      background-color: #eff6fd;
      border-bottom-color: #2070b0; }
    .youthkitbag .card.card-link.card-top .card-body {
      background-color: rgba(31, 32, 37, 0.9);
      color: #ffffff; }
    @media only screen and (min-width: 576px) {
      .youthkitbag .card.card-link.card-top .card-img-top {
        position: relative; }
      .youthkitbag .card.card-link.card-top .card-body {
        bottom: 1rem;
        position: absolute;
        right: 0rem;
        width: 40%; } }
    .youthkitbag .card .card-title.ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      line-height: 1.4;
      /* fallback */
      max-height: 2.8;
      /* fallback */ }
    .youthkitbag .card .card-text.ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      /* number of lines to show */
      line-height: 1.5;
      /* fallback */
      max-height: 4.5;
      /* fallback */ }
  .youthkitbag .badge.badge-fullsize {
    font-size: 100%; }
  .youthkitbag .badge.badge-top-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem; }
  .youthkitbag span.icons-top-left {
    color: #1f79d49c;
    position: absolute;
    left: 0.4rem; }
    .youthkitbag span.icons-top-left .icon-tray-item {
      font-size: 1.5rem; }
      .youthkitbag span.icons-top-left .icon-tray-item.ykb-requested {
        color: #d4a700c7; }
      .youthkitbag span.icons-top-left .icon-tray-item.ykb-approved {
        color: #3cd400c7; }
      .youthkitbag span.icons-top-left .icon-tray-item.ykb-rejected {
        color: #bb00d4c7; }
      .youthkitbag span.icons-top-left .icon-tray-item.ykb-suspended {
        color: #d40000c7; }
  .youthkitbag span.icons-bottom-left {
    font-size: 2.2rem; }
  .youthkitbag .img-link {
    cursor: pointer; }
  .youthkitbag .form-group .valid-feedback {
    color: #1d7631 !important;
    font-size: 100%; }
  .youthkitbag .form-group .invalid-feedback {
    font-size: 100%; }
  .youthkitbag .form-group .custom-select {
    -webkit-appearance: none; }
  .youthkitbag .form-group .input-group-prepend .custom-select {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem; }
  .youthkitbag .bg-smoke {
    background-color: rgba(10, 10, 10, 0.9); }
  .youthkitbag .btn-facebook {
    background: #3b5998 url("/images/facebook.svg") no-repeat 13px -10px;
    background-size: 47px;
    color: #fff; }
  .youthkitbag .btn-google {
    border: 1px solid #95989a;
    background: #fff url("/images/google.svg") no-repeat 25px;
    background-size: 25px; }
  .youthkitbag .btn-github {
    border: 1px solid #95989a;
    background: #fff url("/images/github.svg") no-repeat 25px;
    background-size: 25px; }

/*# sourceMappingURL=youthkitbag.css.map */
