// /* when to include and not underline */
p {
  a {
    text-decoration: underline;
  }
}
ul.std-list {
  a {
    text-decoration: underline;
  }
}
a.status {
  text-decoration: none;
}
a.sr-only {
  color: #004c9d;
  background-color: $white;
}

// ol.breadcrumb {
//   padding: 0rem;
//   margin-bottom: 1rem;
//   background-color: transparent;
//   .breadcrumb-item {
//     padding: 3px 5px;
//     background-color: #eeeeee;
//     border-bottom: 1px solid #d9d9d9;
//     a {
//       color: #004c9d;
//     }
//   }
// }

.form-control-help {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  line-height: 1.5;
}

/* header features */
.banner-background {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: -400px;
  top: 57px;
  left: 0;
  width: 100%;
  &.hero-background {
    height: 800px;
    margin-bottom: -800px;
  }
}

.h-standard {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.h-highlight {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-bottom: 0.25rem;
  &.h-light {
    border-bottom: 0.25rem solid $silver;
    background-color: $gallery;
    color: $charade;
  }
  &.h-dark {
    border-bottom: 0.25rem solid $woodsmoke;
    background-color: $charade;
    color: $gallery;
  }
}

// sizes
.hgt-1 {
  height: 1rem;
}
.hgt-2 {
  height: 2rem;
}
.hgt-3 {
  height: 3rem;
}
.hgt-6 {
  height: 6rem;
}
.hgt-10 {
  height: 10rem;
}

.wth-10 {
  width: 10rem;
}

// all button text to wrap, very useful when long button text and need to be responsive
// normally used in conjunction with w-100
.btn-textwrap {
  white-space: normal !important;
  word-wrap: break-word;
}

.footer {
  color: $silver;
  h6,
  .h6 {
    color: $gallery;
  }
  hr {
    background-color: $gallery;
  }
  &.footer-copyright {
    background-color: $darker;
    a {
      color: $montecarlo;
    }
  }
  ul.links {
    list-style-type: none;
    padding: 0;
    li {
      padding-bottom: 0.35rem;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    &.inline li {
      display: inline;
      padding-right: 1rem;
    }
  }
}

.carousel-thumbnail {
  position: relative;

  .img-delete {
    cursor: pointer;
  }

  .mini-img {
    max-height: 90px;
  }
}

.date-input {
  width: 13rem;
  .date-input-w2 {
    width: 4rem;
  }
  .date-input-w4 {
    width: 5rem;
  }
}

.input-group {
  .group-control-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .group-control-center {
    border-radius: 0;
  }
  .group-control-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

a[disabled] {
  pointer-events: none;
}

.img-avatar {
  height: 30px;
  width: 30px;
}

.blank-circle {
  flex: 1;
  margin: 1%;
  border-radius: 50%;
  &:before {
    content: '';
    display: inline-block;
    padding-top: 100%;
  }
}

.blank-square {
  flex: 1;
  margin: 1%;
  border-radius: 0%;
  &:before {
    content: '';
    display: inline-block;
    padding-top: 100%;
  }
}
