/* Font */

body {
  font-family: PrentonRPPro-Regular, sans-serif, 'Font `Awesome 5 Free' !important;
  font-size: 20px;
}

.navbar-brand.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}

.fa,
.fab,
.fal,
.far,
.fas {
  line-height: 1.5;
}

.ykb-fa {
  font-size: 2rem;
  padding: 1rem;
}
