/* colors */
$white: #ffffff;

$darkside: #000000;
$lightside: #eff6fd;

$gallery: #f0f0f0;
$silver: #cccccc;
$gray-300: #dee2e6;

$selago: #eff6fd;
$matisse: #2070b0;

$razzmatazz: #dc006b;

$woodsmoke: #121315;
$shark: #202329;
$charade: #2d3039;
$montecarlo: #7bcbd1;

