// these changes were required to get the footer to stick to the base of the browser
// when content height was short

html {
  height: 100% !important;
  font-size: 14px;
}

body {
  height: 100% !important;
  min-width: 320px; /* Suppose you want minimum width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
  width: 320px;
}

#root {
  height: 100% !important;
}

.react-body {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.purple-gradient {
  background: -webkit-linear-gradient(
    330.58deg,
    #8d3396,
    #7d4198 8.69%,
    #31358e 59.71%
  );
  background: -o-linear-gradient(
    330.58deg,
    #8d3396 0,
    #7d4198 8.69%,
    #31358e 59.71%
  );
  background: linear-gradient(
    119.42deg,
    #8d3396,
    #7d4198 8.69%,
    #31358e 59.71%
  );
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr="#8d3396",endColorstr="#363684",GradientType=1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#8d3396",endColorstr="#363684",GradientType=1);
  position: relative;
}

.purple-gradient:before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  opacity: 0.34;
  filter: alpha(opacity=34);
}

.purple-gradient .container {
  position: relative;
  z-index: 2;
}
