/* import only the necessary Bootstrap files */
@font-face {
  font-family: prenton;
  src: url('../../public/webfonts/prenton-regular.woff2') format('woff2'),
    url('../../public/webfonts/prenton-regular.woff') format('woff');
}

@font-face {
  font-family: prenton-medium;
  src: url('../../public/webfonts/prenton-medium.woff2') format('woff2'),
    url('../../public/webfonts/prenton-medium.woff') format('woff');
}

@font-face {
  font-family: prenton-bold;
  src: url('../../public/webfonts/prenton-bold.woff2') format('woff2'),
    url('../../public/webfonts/prenton-bold.woff') format('woff');
}

@font-face {
  font-family: prenton-italic;
  src: url('../../public/webfonts/prenton-italic.woff2') format('woff2'),
    url('../../public/webfonts/prenton-italic.woff') format('woff');
}

@import '../../node_modules/bootstrap/scss/functions';

/* -------begin customization-------- */
$colors: ('' + blue: #004c9e, '' + green: #1d7631);

/* 80 required to bring primary and secondary colors to AAA standards */
$theme-colors: (
  primary: #004c9e,
  secondary: #535a56,
  success: #1d7631,
  info: #c8e2fc
);

@import '../../node_modules/bootstrap/scss/variables';

// /* 119 so that headers automatically grow smaller as screen size reduces */
// $enable-responsive-font-sizes: true;

// // Your variable overrides
// $spacer: 1rem;
// $spacers: (
//   0: 0,
//   1: ($spacer * .25),
//   2: ($spacer * .5),
//   3: $spacer,
//   4: ($spacer * 1.5),
//   5: ($spacer * 2),
//   6: ($spacer * 2.5),
//   7: ($spacer * 3),
//   8: ($spacer * 5),
//   9: ($spacer * 7.5),
//   10: ($spacer * 10)
// );

// /* 172 required to bring link color to AAA standards, but this fails to A link contrast */
// //$link-color: #004C9E;
// /* 172 required to bring link color to AA standards to contrast ratio with other text */
$link-color: #006adb;

$font-family-sans-serif: PrentonRPPro-Regular, PrentonRPProLight-Regular,
  sans-serif, 'Font `Awesome 5 Free' !important;

// $paragraph-margin-bottom:   0.5rem;
// // $font-size-base:              2rem !default; // Assumes the browser default, typically `16px`
// // $font-size-lg:                $font-size-base * 1.1;
// // $font-size-sm:                $font-size-base * .9;

// // $h1-font-size:                $font-size-base * 2;
// // $h2-font-size:                $font-size-base * 1.8;
// // $h3-font-size:                $font-size-base * 1.6;
// // $h4-font-size:                $font-size-base * 1.4;
// // $h5-font-size:                $font-size-base * 1.2;
// // $h6-font-size:                $font-size-base;

/* 207 I didn't like the fact that under the xl size the different levels didn't always fill the entire width, so setting the max width to just below the level above */
$container-max-widths: (
  sm: 719px,
  md: 959px,
  lg: 1139px,
  xl: 1200px
);

/* 222 */
$grid-gutter-width: 10px;

/* 313 */
$headings-line-height: 1.4;

// /* 320 required to bring muted color state to AAA standards */
// $text-muted: $gray-700;

// /* 714 the default .5 seemed to make some labels too small for accessibility size */
// $navbar-nav-link-padding-x: .75rem;

/* 727,728 required to bring dark navbar to AAA standards */
$navbar-dark-color: rgba(255, 255, 255, 0.8);
$navbar-dark-hover-color: rgba(255, 255, 255, 0.9);

// /* 1046 the active breadcrumb is too light when on white background */
// $breadcrumb-active-color: #535A56;

// /* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import '../../node_modules/bootstrap/scss/bootstrap';
